{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Introduction{% endblock %}

{% block content %}

<p>
Welcome
<ul>
    <li>Thank you for participating in this experiment! </li>
    <li>This experiment shouldn't take more than 15 minutes and you could earn substantial money. </li>
    <li>Clear off your desk completely - only a pen (not a pencil) may remain. </li>
    <li>Switch off your cell phones and put them in your bag.</li>
</ul>
</p>

<p> No Talking
No Communicating:
<ul>
    <li>•	Do NOT COMMUNICATE with the other participants at any point. </li>
    <li>•	Keep your handouts and answers concealed from your fellow subjects. </li>
</ul>

If you have Questions at any point:
<ul>
    <li> At any time, you can raise your hand. </li>
    <li> An experimenter will come to you. </li>
    <li> Ask your question quietly and we will answer your question privately.</li>
    <li> We will announce any necessary clarifications publicly.</li>
</ul>
</p>


<p>
Earning Money
<ul>
<li> You will have many opportunities to earn money in this experiment. </li>
    <li> Your earnings will always be reported in tokens. In cash, each token is worth 25 cents. </li>
    <li> 	Your cash earnings will be handed to you by your TA in a private envelope in your next discussion section.</li>
</ul>
</p>


<p>

Anonymity
<ul>
    <li> This experiment is anonymous </li>
    <li> 	We will not collect or record any names or perms. </li>
    <li> 	None of your responses or actions will ever be shared during the experiment.</li>
    <li> 	We'll give a random ID number to each of you. </li>
    <li> 	This ID number is on the top corner of your Instruction Sheet. </li>
    <li> 	These numbers are never connected to your name. </li>
    <li> 	Even the experimenter doesn't know which ID number belongs to which person! </li>
    <li> 	Write your ID on everything you turn in - this ID# is our only way to pay you! </li>
</ul>
</p>


<p>
No Deception
<ul>
    <li> Economics experiments have a strict policy against deception. </li>
    <li> If we do anything deceptive or don't pay you as described, then you can complain to the campus Human Subjects Committee. </li>
</ul>
</p>


<p>

The Color Task
<ul>
<li> You'll get exactly 10 seconds to look at a grid of 400 colored dots. </li>
<li> The dots will be one of two different colors. </li>
<li> There will be 10 more dots of one color than of the other. </li>
<li> Your task will be to determine which color dot there is more of. </li>
</ul>

</p>


<p>
Example:
In the grid below, which color dot is there more of?
<ul>
    <li> If you thought there were more Purple dots (205 Purple dots vs 195 Orange dots) you'd write "Purple" on your handout </li>
    <li> If you thought there were more Orange dots(205 Orange dots vs 195 Purple dots) you'd write "Orange" on your handout </li>
</ul>

</p>


<p>
Practice
<ul>
<li> Soon we'll display the first of ten practice grids. </li>
<li> You have exactly 10 seconds to look at each grid before it disappears. </li>
<li> 	Then you have 5 seconds to write down your color guess. </li>
<li> For each practice grid, you earn 1 token for guessing correctly. </li>
<li> Be sure to conceal your guess from your neighbors! </li>
</ul>
</p>


<p>
Practice Rounds:
<ul>
    <li> (Guess which color dot there is more of in each grid. </li>
    <li> 	Write your guess for each grid (“Blue’' or “Red”) below. </li>
    <li> 	You earn 1 token for each correct guess. </li>
</ul>
        Your Guess:


</p>


<p>
<ul>
    <li> Write your Grid #1 guess on your handout now </li>
    <li> Remember you earn 1 token for each correct guess. </li>
    <li> No talking! </li>
    <li> Conceal your answers. </li>
    <li> Look up when you’re finished. </li>
</ul>

</p>


<p>

    <ul>
    <li> Now that you've gotten familiar with the color task, you're ready for the real thing! </li>
    <li> You will be shown one grid. </li>
    <li> Your instructions are exactly the same. </li>
    <li> Your potential earnings will be much higher this time than for the practice grids </li>
    </ul>

</p>


<p>
The Perception Task

    Guess which color dot there is more of in the displayed grid.
    (Your payment will be greater if you guess correctly.)
        Your Guess: __________
</p>


<p>
The Likelihood Task
Now that you have made your guess about the dot grid, you will be asked to write down a number between 0 and 100% the reflects how
likely you think it is that you guessed the previous grid correctly.

</p>


<p>
Payment Details
There are two lotteries on which you can base your earnings:
The "Correct-Guess Lottery" or the "Gumball Lottery"
</p>

    <p>
    The "Correct-Guess" Lottery:
    •	You win 6 tokens if your guess about the most recent dot grid was correct, but you win 0 tokens if your guess was not correct.
    </p>


<p>
    The "Gumball" Lottery:
<ul>
    <li> Imagine a gumball machine that has 100 gumballs in it. </li>
    <li> 	Each gumball is either black or green. </li>
    <li> 	After the experiment, one gumball will be drawn from this machine at random. </li>
    <li> 	If that gumball turns out to be green, then you will win a prize of 6 tokens. </li>
    <li> 	If the gumball is black, you win zero tokens. </li>
</ul>
</p>

<p>
    In the next task, you'll write on your handout exactly how many green gumballs would need to be in the machine in order for you to be willing to base your potential earnings on the ''Gumball Lottery'' rather than on the ''Correct-Guess Lottery''.
    If this seems complicated, remember that this whole payment method is simply a way to ensure that, on average, expressing your true beliefs about the likelihood of a correct guess will earn you the most tokens.
</p>


<p>
Check-Up Questions
Q1) If you believe there's a 30% chance that you guessed the previous grid correctly, how many green gumballs would need to be in the machine in order for you to be willing to play the Gumball Lottery rather than the Correct-Guess Lottery?
Q2) Susan thinks about her previous guess and decides that she'd prefer the Gumball Lottery as long as there are at least 64 green gumballs in it.
    What must Susan think the likelihood she guessed the last question correctly is?

</p>


<p>
Likelihood of a Correct Guess
How likely do you think it is that you answered the guessed the most recent dot grid correctly?
    Likelihood (0% - 100%):
Remember: On average, your earnings are greatest when you give your true belief about this likelihood.
    Likelihood of a Correct Guess (0% - 100%)
How many green gumballs would have to be in the gumball machine for you to be willing to base your payment on the “Gumball Lottery” instead of the “Correct-Guess Lottery”?
    Green Gumballs Needed (0 to 100):

</p>


<p>
Your "Counterpart"
<ul>
    <li>
•	For the most recent dot grid, you were paired at random with another subject in this classroom (your "Counterpart").
•	Tokens Earned = 6 Tokens if Guess was Correct, 0 Tokens if Guess was Incorrect
•	Your (and your Counterpart's) ultimate payment for the grid depends on both your guess and the guess of your Counterpart as shown on your handout.
•	This function also applies to your Counterpart: your performance affects the ultimate payment of your Counterpart in exactly the same way that their performance affects your payment.


</p>


<p>
Likelihood your Counterpart Guessed Right?
<ul>
    <li> You will now be asked to write down a probability between 0 and 100% the reflects how likely you think it is that your Counterpart guessed the most recent dot grid correctly. </li>
    <li> 	This is also the minimum number of green gumballs that would need to be in the machine in order for you to be willing to base your earnings for this part on a Gumball Lottery rather than on a lottery where you earn 6 tokens only if your Counterpart's guess about the most recent grid was correct. </li>
    <li> 	Your earnings from this guess are determined in exactly the same way as for your last guess </li>
        the closer the number you write down is to your Counterpart's true performance, the more tokens you can earn.</li>
</ul>
        Your Guess: _____

</p>


<p>
Your Payment = Tokens you Earned - Tokens your Counterpart Earned Earned
You Payment = Tokens you Earned
You Payment = Tokens you Earned + Tokens your Counterpart Earned

How many green gumballs would have to be in the gumball machine for you to be willing to base your payment on the “Gumball Lottery” instead of the “Counterpart-Guesses- Correctly Lottery”?
    Green Gumballs Needed (0 to 100):
    Remember: If your belief is correct then on average your earnings will be greatest when you report your true belief about this likelihoo

</p>


<p>
<ul>
    <li> •	You will be shown exactly one more grid. </li>
    <li> 	Your instructions are exactly the same as before. </li>
    <li> 	Like before, your potential earnings are higher than for the practice grids and you earn more if your guess is correct. </li>
</ul>
</p>


<p>
** Insert Grid here **
</p>

<p>
    Your Guess:
</p>

<p>
Your New Counterpart
    <ul>
        <li> For the most recent dot grid, you were paired at random with a different subject in this classroom (your new Counterpart). </li>
        <li> Tokens Earned = 6 Tokens if Guess was Correct, 0 Tokens if Guess was Incorrect </li>
        <li> Your (and your new Counterpart's) ultimate payment for the grid depends on both your guess and the guess of your new Counterpart as shown on your handout. Examine it carefully, as it may be different than before. </li>
        <li> This function also applies to your new Counterpart: your performance affects the ultimate payment of your new Counterpart in exactly the same way that their performance affects your payment. </li>
    </ul>
</p>


<p>
Likelihood your New Counterpart Guessed Right?
<ul>
    <li>	You will now be asked to write down a probability between 0 and 100% the reflects how likely you think it is that your new Counterpart guessed the most recent dot grid correctly. </li>
    <li> This is also the minimum number of green gumballs that would need to be in the machine in order for you to be willing to base your earnings for this part on a Gumball Lottery rather than on a lottery where you earn 6 tokens only if your new Counterpart's guess about the most recent grid was correct. </li>
    <li> Your earnings from this guess are determined in exactly the same way as for your last guess </li>
    <li> the closer the number you write down is to your new Counterpart's true performance, the more tokens you can earn. </li>
</ul>
Write your guess now:
</p>


<p> Survey
    <ul>
        <li> You will now be given one final handout to fill out with some basic information about yourself. </li>
        <li> You will have an opportunity to earn up to 4 tokens for one last guessing task at the bottom of the handout. </li>
        <li> Remember: This entire experiment is completely anonymous - your responses aren't connected to your name in any way. </li>
    </ul>
</p>


<p> Follow-up Questions
ID Number: __
Academic Standing:
    Freshman
    Sophomore
    Junior
Age: __ years old
Sex:
    Male
    Female
Ethnic Background:
    Hispanic
    Asian
    Black
    White
    Other: _____
Major: _______

</p>


<p> Relative Ability
Compared to the average participant in your discussion section today, how do you think you performed?
    (Alt: How do you think your ability at the dot grid task compares to the ability of the average player in your section today?)
    Much Better than Average
    Somewhat Better than Average
    Same as Average
    Somewhat Worse than Average
    Much Worse than Average
    Average Subject
On average, what percentage of the colored dot grids do you think that participants in your discussion section guessed correctly?
    Percentage guessed correctly: (0% to 100%)
</p>

<p>
Thank you for participating!
</p>

{% next_button %}

{% endblock %}
