{% extends "global/Page.html" %}
{% load otree %}

{% block title %} Comprehension Questions   {% endblock %}

{% block content %}
<p>
    To check that you understand the payment method, you'll now tell us exactly how many green gumballs would need to be in the machine in order for you to be willing to base your potential earnings on the ''Gumball Lottery'' rather than on the ''Correct-Guess Lottery''.
</p>
<p>
    If this seems complicated, know that this payment method is simply a way to ensure that reporting your true beliefs will earn you the most tokens.
</p>


<p>
    Q1) If you believe there's a 30% chance that you guessed the previous grid correctly, how many green gumballs would need to be in the machine in order for you to be willing to play the Gumball Lottery rather than the Correct-Guess Lottery?

    {% formfield.likelihoodpractice1 %}
</p>
<p>
    Q2) Susan thinks about her previous guess and decides that she'd prefer the Gumball Lottery as long as there are at least 64 green gumballs in it.
    What must Susan think is the likelihood she guessed the last question correctly?
    {% formfield.likelihoodpractice2 %}

</p>

<p>
    Q2) Susan thinks about her previous guess and decides that she'd prefer the Gumball Lottery as long as there are at least 64 green gumballs in it.
    What must Susan think is the likelihood she guessed the last question correctly?
    {% formfield.likelihoodpractice2 %}

</p>

{% next_button %}

{% endblock %}
