{% extends "global/Page.html" %}
{% load otree %}

{% block title %}    {% endblock %}

{% block content %}
<p>


How many green gumballs would have to be in the gumball machine for you to be willing to base your payment on the “Gumball Lottery” instead of the “Counterpart-Guesses- Correctly Lottery”?
    Green Gumballs Needed (0 to 100):
    {% formfield.gumballs_CP_1 %}
    Remember: If your belief is correct then on average your earnings will be greatest when you report your true belief about this likelihood

</p>

{% next_button %}

{% endblock %}
