{% extends "global/Page.html" %}
{% load otree %}

{% block title %}  Your New Counterpart  {% endblock %}

{% block content %}

<p>
<ul>
    <li> For the most recent dot grid, you were once again paired at random with a different subject in this classroom (your "Counterpart"). </li>
    <li> This new counterpart is not the same person as your previous counterpart. </li>
    <li> Tokens Earned = {{ Constants.GuessReward }} if Guess was Correct, 0 if Guess was Incorrect </li>
    <li> Your ultimate payment (and your Counterpart's payment) for the color task depends on both your guess and the guess of your Counterpart as shown below: </li>
<li> (This function also applies to your Counterpart: your performance affects the ultimate payment of your Counterpart in exactly the same way that their performance affects your payment.) </li>
</ul>

    {% if group.treatment == 'partners' %} Your Payoff = Your Score + Your Counterpart's Score {% endif %}
    {% if group.treatment == 'independents' %} Your Payoff = Your Score  {% endif %}
    {% if group.treatment == 'rivals' %} Your Payoff = Your Score - Your Counterpart's Score{% endif %}

Your Payment = Tokens you Earned
    {% if group.treatment == 'partners' %}+ Tokens your Counterpart Earned{% endif %}
    {% if group.treatment == 'independents' %}{% endif %}
    {% if group.treatment == 'rivals' %}- Tokens your Counterpart Earned{% endif %}
</p>

{% next_button %}

{% endblock %}
