{% extends "global/Page.html" %}
{% load otree %}

{% block title %}  Example  {% endblock %}

{% block content %}


INSERT ORANGE & PURPLE EXAMPLE GRID HERE


If you thought there were 195 Orange dots and 205 Purple dots in the grid above, what would be your answer to the following question?

"In the grid below, which color dot is there more of?"
{% formfield.practice1 %}


What would your answer be if you thought there were 205 Orange dots and 195 Purple dots in the grid?

{% formfield.practice2 %}




{% next_button %}

{% endblock %}
