{% extends "global/Page.html" %}
{% load otree %}

{% block title %}    {% endblock %}

{% block content %}

<p>
Practice
<ul>
<li> Soon we'll display the first of {{ Constants.NumberofGrids }} practice grids. </li>
<li> You have exactly {{ Constants.seconds }} seconds to look at each grid before it disappears. </li>
<li> 	Then you have {{ Constants.time }} seconds to write down your color guess. </li>
<li> For each practice grid, you earn {{ Constants.PracticeReward }} token for guessing correctly. </li>
</ul>
</p>
{% next_button %}

{% endblock %}
