{% extends "global/Page.html" %}
{% load otree %}

{% block title %}  Payment Method  {% endblock %}

{% block content %}
<p>
There are two lotteries on which you can base your earnings:
The "Correct-Guess Lottery" or the "Gumball Lottery"
</p>

    <p>
    <strong> The "Correct-Guess" Lottery: </strong>
        <ul>
    <li>
        You win <strong>{{ Constants.GumballPrize }}</strong> tokens if your guess about the most recent dot grid was correct, but you win <strong>zero</strong> tokens if your guess was not correct.
    </li>
</ul>
</p>


<p>
    <strong> The "Gumball" Lottery: </strong>
<ul>
    <li> Imagine a gumball machine that has <strong> 100 </strong> gumballs in it. </li>
    <li> 	Each gumball is either <strong> black </strong> or <strong> green</strong>. </li>
    <li> 	After the experiment, one gumball will be drawn from this machine at random. </li>
    <li> 	If that gumball turns out to be green, then you will win a prize of <strong>{{ Constants.GumballPrize }}</strong> tokens. </li>
    <li> 	If the gumball is black, you win <strong>zero</strong> tokens. </li>
</ul>
</p>
{% next_button %}

{% endblock %}
