{% extends "global/Page.html" %}
{% load otree %}

{% block title %}  No Talking  {% endblock %}

{% block content %}

<p>
    Do <strong> NOT </strong> talk with other participants at any point.
</p>

If you have Questions at any point:
<ul>
    <li> At <strong> any </strong> time, you can <strong> raise your hand </strong> and an experimenter will come to you. </li>
    <li> Ask your question quietly and we will answer your question <strong> privately</strong>.</li>
    <li> If clarifications are necessary, we will announce them publicly.</li>
</ul>

{% next_button %}

{% endblock %}
