{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Practice Question
{% endblock %}

{% block content %}

<p>
    Imagine that you are assigned the role of <strong> Decider</strong>.
</p>
<p>
    In Round 1, you take <strong> $X</strong> from your Receiver.
</p>
{% formfield player.offer_question_1 %}

<p>
    Imagine that you are assigned the role of <strong> Decider</strong>.
</p>
<p>
    In Round 1, you get <strong> $X</strong> from your original endowment.
</p>
{% formfield player.taken_question_1 %}

    {% next_button %}

{% endblock %}
