{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instructions
    </h3>

    <p>
        You have been randomly and anonymously paired with another player. Each
        of you will be randomly assigned to the role of either the Agent or the Principal.
        You will learn your role before making any decision.
    </p>
    <p>
        The Principal will choose whether or not to <i> restrict </i> the Agent's effort:
    </p>
    <ul>
        <li><strong>Restricted </strong> Agents may choose Effort = {2, 3, 4, 5}
        </li>
        <li><strong>Unrestricted</strong> Agents may choose Effort = {1, 2, 3, 4, 5}
        </li>
    </ul>
    <p>
        The Agent will then choose the effort level, which determines the payoffs of both the Principal and the Agent:
    </p>
    <table class=table>
    <tr>
        <th>Effort Level</th>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
    <tr>
        <th>Principal's Payoff</th>
        <td>4</td>
        <td>6</td>
        <td>8</td>
        <td>10</td>
        <td>12</td>
    </tr>
    <tr>
        <th>Agent's Payoff</th>
        <td>13</td>
        <td>12</td>
        <td>11</td>
        <td>10</td>
        <td>9</td>
    </tr>
    </table>
    <p>
        We will randomly select a few (roughly 5) Agents and Principals for payment. We'll tell you
        how we convert lab dollars to real dollars later, but -- if you are randomly selected for payment --
        you will get one extra real dollar for every lab dollar you earn.
    </p>
    </div>
</div>