{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Practice Round: Your Decision{% endblock %}

{% block content %}
<p>
    You are the <strong>Decider</strong>.
    You have been randomly matched with a Receiver.
    The Receiver has received an endowment of {{ Constants.endowment }}.
</p>
<p>
    Please decide how much of the Receiver's {{ Constants.endowment }}
    to take for yourself.
</p>

{% formfield player.taken label="I will take:" %}

{% next_button %}

{% endblock %}