{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Instructions{% endblock %}

{% block content %}

Instructions 1:
<p>
In the following task you will be asked to evaluate the difference situations and decide whether taking a certain action would be "socially appropriate" and "consistent with moral or proper social behavior" or "socially inappropriate" and "inconsistent with moral or proper social behavior." By socially appropriate, we mean behavior that most people agree is the "correct" or "ethical" thing to do.
</p>
<p>
On the following screens, you will read descriptions of a series of situations. These descriptions correspond to situations in which one person, "Individual A", must make a decision.
</p>
<p>
For each situation, you will be given a description of the decision faced by Individual A. This description will include several possible choices available to Individual A.
After you read the description of the decision, you will be asked to evaluate the different possible choices available to Individual A and to decide,
for each of the possible actions (the level of social appropriateness or inappropriateness of that action. - Kimbrough, Miller, & Vos), whether taking that action would be "socially appropriate" and "consistent with moral or proper social behavior" or "socially inappropriate" and
"inconsistent with moral or proper social behavior." By socially appropriate, we mean behavior that most people agree is the "correct" or "ethical" thing to do.
</p>
<p>
Another way to think about what we mean is that if Individual A were to select a socially inappropriate choice, then someone else might be angry at Individual A for doing so.
</p>
<p>
In each of your responses, we would like you to answer as truthfully as possible, based on your opinions of what constitutes socially appropriate or socially inappropriate behavior.
</p>
<p>
To give you an idea of how the experiment will proceed, we will go through an example and show you how you will indicate your responses. On the next screen you will see an example of a situation.
</p>
<p>
Example Situation:
</p>
<p>
Individual A is at a local coffee shop near campus. While there, individual A notices that someone has left a wallet at one of the tables. Individual A must decide what to do. Individual A has four possible choices: take the wallet, ask others nearby if the wallet belongs to them, leave the wallet where it is, or give the wallet to the shop manager.
</p>
<p>
Individual A can choose [only] one of these four options.
The table below presents a list of the possible choices available to Individual A.
For each of the choices, you will be asked to indicate whether you believe choosing that option is very socially inappropriate, somewhat socially inappropriate, somewhat socially appropriate, or very socially appropriate.
To indicate your response, [please click on the corresponding cell.-Kimbrough] you would place a check mark in the corresponding box.
</p>
<p>
Take the wallet
Ask others nearby if the wallet belongs to them
Leave the wallet where it is
Give the wallet to the shop manager
Individual A's Action:
</p>
<p>
    [Please make sure you make an assessment for each possible choice in each row of the table.-Kimbrough]
</p>
<p>
[In what follows, you will be asked to assess the appropriateness of the actions in two other scenarios.
    For each action please indicate the extent to which you believe taking that action would be "socially appropriate"
    and "consistent with moral or proper social behavior" or "socially inappropriate" and "inconsistent with moral or proper social behavior".
    By socially appropriate we mean behavior that <strong> most people</strong> agree is the "correct" or "ethical" thing to do.
</p>
<p>
    In what follows,  you will read a description of each scenario. Then, you will indicate your appropriateness rating by placing a check mark in the corresponding box.
</p>
<p>
    At the end of the experiment today, the computer will randomly select one of the situations.
    For this situation, the computer will also randomly select one of the possible choices that the Individual could make.
    Thus we will select both a situation and one possible choice at random. Each choice is equally likely to be selected.
</p>
<p>
    For the choice selected, we will determine which response was selected by the most people here today.
   </p>
<p>
    <strong> If you give the same response as that most frequently given by other people, then you will receive an additional $10.</strong>
    This amount will be paid to you, in cash, at the conclusion of the experiment.
</p>
<p>
    For instance, if we were to select the example situation from the last screen and the possible choice "Leave the wallet where it is,"
    and if your response had been "somewhat socially inappropriate," then you would receive $10, in addition to the $7 participation fee,
    if this was the response selected by most other people in today's session. Otherwise you would receive only the $7 participation fee.
</p>
<p>
    Your payment depends only on whether your response corresponds to the most common response to the chosen and DOES NOT depend on the decisions made by individual A or B.
    Please click OK when you are ready to go on.
    If you have any questions, please raise your hand and wait for the experimenter.
    -Kimbrough]
</p>
<p>
    In the following task you will be asked to evaluate the difference situations and decide whether taking a certain
    action would be "socially appropriate" and "consistent with moral or proper social behavior" or "socially inappropriate"
    and "inconsistent with moral or proper social behavior." By socially appropriate, we mean behavior that most people agree is the "correct" or "ethical" thing to do.
</p>
<p>
If this were one of the situations for this study, you would consider each of the possible choices above and, for that choice, indicate the extent to which you believe taking that action would be
    "socially appropriate" and "consistent with moral or proper social behavior" or "socially inappropriate" and "inconsistent with moral or proper social behavior".
    Recall that by socially appropriate we mean behavior that most people agree is the "correct" or "ethical" thing to do.
</p>
<p>
    Example Situation (Continued)
</p>
<p>
For example, suppose you thought that taking the wallet was very socially inappropriate, asking others nearby if the wallet belongs to them was somewhat socially appropriate, leaving the wallet where it is was somewhat socially inappropriate, and giving the wallet to the shop manager was very socially appropriate. Then you would indicate your responses as follows:
</p>
<p>
Take the wallet	X
Ask others nearby if the wallet belongs to them			X
Leave the wallet where it is		X
Give the wallet to the shop manager				X
</p>
<p>

Are there any questions about this example situation or about how to indicate your responses?
   </p>
<p>
    On the following pages, there are several situations, all dealing with decisions that Individual A, a participant in an experiment, might have to make.
For each situation, the experimenter will read a description of the situation.
    You will then indicate your appropriateness rating by placing a check mark in the corresponding box.
</p>
<p>
At the end of the experiment today, we will randomly select one of the situations.
    For this situation, we will also randomly select one of the possible choices that Individual A could make.
    Thus, we will select both a situation and one possible choice at random.
    For the choice selected, we will determine which response was selected by the most people here today.
    If you give the same response as that most frequently given by other people, then you will receive an additional $10.
    This amount will be paid to you, in cash, at the conclusion of the experiment.
    For instance, if we were to select the example situation above and the possible choice "Leave the wallet where it is,"
    and if your response had been "somewhat socially inappropriate," then you would receive $10,
    in addition to the $7 participation fee, if this was the response selected by most other people in today's session.
    Otherwise you would receive only the $7 participation fee.
</p>
<p>
    If you have any questions from this point on, please raise your hand and wait for the experimenter to come to you.
</p>
<p>
Please wait to turn the page until the experimenter asks you to do so.
</p>
<p>
If you have any questions, please raise your hand and wait for the experimenter.
    </p>

{% next_button %}
    <button class="btn" name="back" value="1">Back</button>

{% endblock %}