{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Instructions{% endblock %}

{% block content %}
<strong> Rating the Decider's Choices: </strong>
<ol>
    <li> While Deciders are choosing how much of the Receiver's {{ Constants.endowment }} endowment to take,
        Receivers will be asked to rate the appropriateness of each potential choice the Decider could make. </li>
    <li> That is, the Receiver will be asked, for each possible amount the Decider might take,
        whether taking that amount would be considered "socially appropriate" and "consistent with moral or proper social behavior"
        or "socially inappropriate" and "inconsistent with moral or proper social behavior." </li>
    <li>
        By socially appropriate, we mean behavior that most people agree is the "correct" or "ethical" thing to do. </li>
    <li> Another way to think about what we mean is that if an individual were to select a socially inappropriate choice,
        then someone else might be angry at that individual for doing so. </li>
    <li> The Receiver will not see the actual allocation their Decider chosen until <strong> after </strong> they have rated each
        possible allocation choice the Decider could make. </li>
</ol>

<p> <strong> Prizes: </strong> </p>
    <p> After all 5 rounds have been played, Receivers will earn prizes for their ratings using the following rule:
        Receivers earn a {{ Constants.mode_match_prize }} prize for each round where the rating they
        assigned to the allocation the Decider actually made matched the most common rating given to that
        allocation by all other Receivers matched with a Decider with that screenname.
    </p>

{% next_button %}
    <button class="btn" name="back" value="1">Back</button>

{% endblock %}
