{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Instructions{% endblock %}

{% block content %}

Screennames
<ul>
        <li>
        Deciders will be assigned screennames.
            These screennames may assist Receivers in rating and responding to their Decider's allocation decisions.
        </li>
        <li>
            Receivers are fully anonymous -- they do not receive screennames, and are
        encouraged to write and rate freely when evaluating their Deciders' allocation decisions.
        </li>
</ul>

{% next_button %}
<button class="btn btn-primary" name="back" value="1">Back</button>

{% endblock %}
