{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Instructions{% endblock %}

{% block content %}
<u> Rating the Decider's Choices: </u>
<ul>
    <li> While Deciders are choosing how much of the Receiver's {{ Constants.endowment }} endowment to take,
        Receivers will be asked to rate the appropriateness of each potential choice the Decider could make. </li>
    <li> That is, the Receiver will be asked, for each possible amount the Decider might take,
        whether taking that amount would be considered "socially appropriate" and "consistent with moral or proper social behavior"
        or "socially inappropriate" and "inconsistent with moral or proper social behavior." </li>
    <li>
        By socially appropriate, we mean behavior that most people agree is the "correct" or "proper" thing to do. </li>
    <li> Another way to think about what we mean is that if an individual were to select a socially inappropriate choice,
        then someone else might be angry at that individual for doing so. </li>
    <li> The Receiver will not see the actual allocation their Decider chosen until <strong> after </strong> they have rated each
        possible allocation choice the Decider could make. </li>
</ul>

<p>
    <u> Prizes: </u>
</p>
    <p> After all {{ Constants.number_rounds }} rounds have been played, one round -- the <strong> payoff round </strong> -- will be randomly selected for payment.
        In this payoff round, Receivers may earn a <strong>{{ Constants.mode_match_prize }} prize </strong> for their rating <strong> <u> if </u> </strong>:
    </p>
    <p>
        ...the rating they assigned...
        ...to the allocation the Decider actually made...
        ...matched the <strong> most common rating </strong> given to that
        allocation...
        ...by the other Receivers who also got matched with that Decider over the course of the experiment's {{ Constants.number_rounds }}.
    </p>

{% next_button %}
    <button class="btn" name="back" value="1">Back</button>

{% endblock %}
