{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Instructions{% endblock %}

{% block content %}
<p>
       <u> Roles: Decider or Receiver </u>
</p>
    <ul>
        <li>
            In this experiment, there are <strong> two possible roles:</strong> Decider or Receiver.
            </li>
        <li>
        Your role will be determined <strong>randomly</strong> at the beginning of the experiment.
        </li>
        <li>
        You will keep this <strong>same role</strong> for the entire experiment.
        </li>
        <li>
        You will learn your role before making any decisions.
        </li>
    </ul>

    <p>
        <u> Rounds & Matching: </u>
    </p>

<ul>
    <li>
        There will be <strong> {{ Constants.number_rounds }} rounds </strong> in this experiment.
    </li>
    <li>
        In every round, each Decider will be matched with a <strong> new </strong> Receiver.
    </li>
    <li>
        You will never be matched with the same player for more than a <strong> single </strong> round over the course of the experiment.
    </li>
</ul>

{% next_button %}

{% endblock %}
