{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Instructions{% endblock %}

{% block content %}

What's Next:
<ol>
<li> You will now complete a short set of comprehension questions testing whether you understood these instructions. </li>
    <li> After the questions you will play <strong> 5 </strong> rounds.
    You will be matched with a new counterpart for each new round. </li>
        <li> Once all rounds are complete, feedback on earnings will be provided.
            Additionally, Deciders will be shown the social appropriateness ratings that Receivers
            assigned to each of their chosen allocations. </li>
        <li> After all rounds are complete, Deciders will also see the written messages that each of their
            matched Receivers wrote to them upon observing the Decider's chosen allocation. </li>
</ol>

{% next_button %}
    <button class="btn" name="back" value="1">Back</button>

{% endblock %}
