{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Practice Question
{% endblock %}

{% block content %}

<p>
    Imagine that you are a <strong>Receiver</strong>.
</p>
<p>
    You have been matched with a Decider with the screenname <strong>Decider A</strong>.
</p>
<p>
    When asked to rate the social appropriateness of each amount Decider A could decide to take from your endowment,
    you gave the following ratings:
</p>

<table class="table">
    <tr>
        <th> Decider A's Decision
        </th>
        <th>
            Your Rating
        </th>
    </tr>
    <tr>
        <td> $X </td>
        <td> Somewhat Inappropriate </td>
    </tr>
    <tr>
        <td> $Y </td>
        <td> Somewhat Appropriate </td>
    </tr>
    <tr>
        <td> $Z </td>
        <td> Very Appropriate </td>
    </tr>
</table>

<p>
</p>
{% formfield player.question1 %}
{% formfield player.question2 %}
{% formfield player.question3 %}

    {% next_button %}

{% endblock %}
