{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Practice Round: Your Decision{% endblock %}

{% block content %}
<p>
    You are the <strong>Decider</strong>.
</p>
<p>
    You have been randomly matched with a Receiver.
</p>
<p>
    The Receiver has received an endowment of {{ Constants.endowment }}.
</p>
<p>
    Please decide how much of the Receiver's {{ Constants.endowment }}
    to take for yourself.
</p>

{% formfield group.p_taken label="I will take:" %}

{% next_button %}

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
      See Instructions Again
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Instructions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% include Constants.instructions_template %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



{% endblock %}