{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Social Appropriateness{% endblock %}

{% block content %}
<p>
    You are the <strong>Receiver</strong>. You have been matched with a Decider <strong>{{ d_name }}</strong>.
</p>
<p>
    You have received an endowment of {{ Constants.endowment }} this round.
</p>
<p>
    The table below presents a list of the possible choices available to the Decider. For each of the
choices, you should indicate whether you believe choosing that option is very socially
inappropriate, somewhat socially inappropriate, somewhat socially appropriate, or very socially
appropriate.
    Recall that by socially appropriate we mean behavior that most people agree is the "correct" or "ethical" thing to do.
</p>
<p>
    If your rating matches the most common rating other Receivers assigned to
    an amount of that size taken by {{ dname }}, you will win a prize of {{ Constants.mode_match_prize }}.
</p>

<h4>Rate the Social Appropriateness of Each Decision {{ Dname }} could make: </h4>
<table class="table">
    <tr>
        <th> {{ Dname}}'s Decision
        </th>
        <th>
            Appropriateness Rating
        </th>
    </tr>
    {% for field in form %}
        <tr>
            <th> If {{Dname}} took {{ field.label }}</th>
            {% for choice in field %}
                <td>{{ choice }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{% next_button %}

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
      See Instructions Again
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Instructions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% include Constants.instructions_template %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



{% endblock %}