{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Open Source Sex Role Inventory{% endblock %}

{% block content %}

http://www.afifthofnothing.com/gendertest.html

Answer the questions as to how the term describes you best according to the following scale:

1 = Never or almost never true
2 = Usually not true
3 = Sometimes but infrequently true
4 = Occasionally true
5 = Often true
6 = Usually true
7 = Always or almost always true

 Adaptable
Affectionate
Aggressive
 Conceited
Compassionate
Assertive
Conscientious
Eager to soothe hurt feelings
Defends own beliefs
Conventional
Gentle
Dominant
 Jealous
Loves children
Forceful
 Moody
Sensitive to the needs of others
Has leadership abilities
 Reliable
Sympathetic
Independent
 Secretive
Tender
Strong Personality
 Tactful
Understanding
Willing to take a stand
 Truthful
Warm
Willing to take risks


{% next_button %}

{% endblock %}