{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Survey{% endblock %}

{% block content %}

        {% formfield player.genderCP1 label="What is your first Counterpart's gender?"  %}
        {% formfield player.genderCP2 label="What is your second Counterpart's gender?"  %}
        {% formfield player.genderCP3 label="What is your third Counterpart's gender?"  %}
        {% formfield player.genderCP4 label="What is your fourth Counterpart's gender?"  %}
        {% formfield player.genderCP5 label="What is your fifth Counterpart's gender?"  %}

{% next_button %}

{% endblock %}